@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/** Modifying the scrollbar **/

.dropdown-panel {
    max-height: 300px;
    overflow-y: scroll;
}

/** Search Bar **/
.search-bar {
    width: 60%;
}

/** Title of the Website in the NavBar **/
.title {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

/* img {
    width: 50%;
}
 */


/** Show scrollbar only when the width is 768 pixel wide **/
@media (min-width: 768px) {

    .dropdown-panel {
        scrollbar-width: thin;
        scrollbar-color: #101010;
    }

    .dropdown-panel::-webkit-scrollbar {
        width: 10px;
    }

    /** Track **/
    .dropdown-panel::-webkit-scrollbar-track {
        background: none;
    }

    .dropdown-panel::-webkit-scrollbar-thumb {
        background: #2c2c2c;
        border-radius: 10px;
    }

    /** Handle hover **/
    .dropdown-panel::-webkit-scrollbar-thumb:hover {
        background: #aaa;
    }
}

/** Links in Tooltip **/
.link {
    text-decoration: underline;
    font-weight: bold;
}


/** Recently Featured Link **/
.link.link-no-line {
    text-decoration: underline;
    font-weight: 500;
}

/** Other Area of Tikipedia section **/
.other-area-header {
    font-weight: bolder;
}

.other-area-header:hover {
    color: #101010 !important;
}


/** Tikipedia Language section 
    text in the center of hr
**/
.hr-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.hr-text p {
    margin: auto;
    font-size: 1em;
}

.hr-text hr {
    flex: 1;
}


/** Footer Links **/
.footer-links ul {
    padding: 0;
}

.footer-links ul li {
    list-style-type: none;
    text-align: start;
}

.footer-links ul li a {
    font-size: 0.8em;
}

.buttons {
    padding: 0;
}

@media (max-width: 700px) {
    
    main .hero-section {
        background: pink;
        height: 100vh;
    }

    .hero-section img{
        height: 600px;
    }
}